In [65]:
# It is a quick stackoverflow fix to import gensim
import smart_open 
smart_open.open = smart_open.smart_open

In [66]:
import pandas as pd
import numpy as np 
import random 
from tqdm import tqdm
from gensim.models import Word2Vec
import matplotlib.pyplot as plt

In [67]:
import json

with open('customer_dataset.json') as data_file:
    data = json.load(data_file)
data

{'results': [{'username': '',
   'id': 1,
   'products': [{'product_name': 'Spatula',
     'url_slug': '12345',
     'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
  {'username': 'Ashish Thapa',
   'id': 2,
   'products': [{'product_name': 'Spatula',
     'url_slug': '12345',
     'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
  {'username': 'ashish',
   'id': 4,
   'products': [{'product_name': 'Spatula',
     'url_slug': '12345',
     'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
  {'username': 'gov', 'id': 5, 'products': []}]}

In [68]:
purchase_list = []

for i in data.items(): 
    print(i[1][:])
    purchase_list.append(i[1][:])

[{'username': '', 'id': 1, 'products': [{'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}, {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}, {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]}, {'username': 'Ashish Thapa', 'id': 2, 'products': [{'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}, {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]}, {'username': 'ashish', 'id': 4, 'products': [{'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}, {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}, {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]}, {'username': 'gov', 'id': 5, 'products': []}]

In [69]:
purchase_list

[[{'username': '',
   'id': 1,
   'products': [{'product_name': 'Spatula',
     'url_slug': '12345',
     'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
  {'username': 'Ashish Thapa',
   'id': 2,
   'products': [{'product_name': 'Spatula',
     'url_slug': '12345',
     'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
  {'username': 'ashish',
   'id': 4,
   'products': [{'product_name': 'Spatula',
     'url_slug': '12345',
     'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
  {'username': 'gov', 'id': 5, 'products': []}]]

In [70]:
purchase_list[0]

[{'username': '',
  'id': 1,
  'products': [{'product_name': 'Spatula',
    'url_slug': '12345',
    'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
   {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
   {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
 {'username': 'Ashish Thapa',
  'id': 2,
  'products': [{'product_name': 'Spatula',
    'url_slug': '12345',
    'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
   {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
 {'username': 'ashish',
  'id': 4,
  'products': [{'product_name': 'Spatula',
    'url_slug': '12345',
    'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
   {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
   {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
 {'username': 'gov', 'id': 5, 'products': []}]

In [71]:
purchase_json = json.dumps(purchase_list[0])

In [72]:
purchase_json

'[{"username": "", "id": 1, "products": [{"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}, {"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}, {"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}]}, {"username": "Ashish Thapa", "id": 2, "products": [{"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}, {"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}]}, {"username": "ashish", "id": 4, "products": [{"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}, {"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}, {"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}]}, {"username": "gov", "id": 5, "products": []}]'

In [73]:
df = pd.read_json(purchase_json)

In [74]:
df

       username  id                                           products
0                 1  [{'product_name': 'Spatula', 'url_slug': '1234...
1  Ashish Thapa   2  [{'product_name': 'Spatula', 'url_slug': '1234...
2        ashish   4  [{'product_name': 'Spatula', 'url_slug': '1234...
3           gov   5                                                 []

In [75]:
df['products'][0]

[{'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
 {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
 {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
 {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
 {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
 {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]

In [76]:
df = df.explode('products')
df = df.set_index('id', drop=True)
df

        username                                           products
id
1                 {'product_name': 'Spatula', 'url_slug': '12345...
1                 {'product_name': 'Pressure Cooker', 'url_slug'...
1                 {'product_name': 'Spatula', 'url_slug': '12345...
1                 {'product_name': 'Pressure Cooker', 'url_slug'...
1                 {'product_name': 'Spatula', 'url_slug': '12345...
1                 {'product_name': 'Pressure Cooker', 'url_slug'...
2   Ashish Thapa  {'product_name': 'Spatula', 'url_slug': '12345...
2   Ashish Thapa  {'product_name': 'Pressure Cooker', 'url_slug'...
2   Ashish Thapa  {'product_name': 'Spatula', 'url_slug': '12345...
2   Ashish Thapa  {'product_name': 'Pressure Cooker', 'url_slug'...
4         ashish  {'product_name': 'Spatula', 'url_slug': '12345...
4         ashish  {'product_name': 'Pressure Cooker', 'url_slug'...
4         ashish  {'product_name': 'Spatula', 'url_slug': '12345...
4         ashish  {'product_name': 'Pressure Cooker', 'url_slug'...
4         ashish  {'product_name': 'Spatula', 'url_slug': '12345...
4         ashish  {'product_name': 'Pressure Cooker', 'url_slug'...
5            gov                                                NaN

In [81]:

json_struct = json.loads(df.to_json(orient="records"))    
df_flat = pd.io.json.json_normalize(json_struct)

C:\Users\ASUS\anaconda3\envs\tensor_gpu\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """

In [82]:
df_flat

,username,products.product_name,products.url_slug,products.product_id,products
0,,Spatula,12345,1.0,NaN
1,,Pressure Cooker,8764,2.0,NaN
2,,Spatula,12345,1.0,NaN
3,,Pressure Cooker,8764,2.0,NaN
4,,Spatula,12345,1.0,NaN
5,,Pressure Cooker,8764,2.0,NaN
6,Ashish Thapa,Spatula,12345,1.0,NaN
7,Ashish Thapa,Pressure Cooker,8764,2.0,NaN
8,Ashish Thapa,Spatula,12345,1.0,NaN
9,Ashish Thapa,Pressure Cooker,8764,2.0,NaN
10,ashish,Spatula,12345,1.0,NaN
11,ashish,Pressure Cooker,8764,2.0,NaN
12,ashish,Spatula,12345,1.0,NaN
13,ashish,Pressure Cooker,8764,2.0,NaN
14,ashish,Spatula,12345,1.0,NaN
15,ashish,Pressure Cooker,8764,2.0,NaN
16,gov,NaN,NaN,NaN,NaN

In [84]:
df_flat = df_flat.drop(columns=['products'])
df_flat

        username products.product_name products.url_slug  products.product_id
0                              Spatula             12345                  1.0
1                      Pressure Cooker              8764                  2.0
2                              Spatula             12345                  1.0
3                      Pressure Cooker              8764                  2.0
4                              Spatula             12345                  1.0
5                      Pressure Cooker              8764                  2.0
6   Ashish Thapa               Spatula             12345                  1.0
7   Ashish Thapa       Pressure Cooker              8764                  2.0
8   Ashish Thapa               Spatula             12345                  1.0
9   Ashish Thapa       Pressure Cooker              8764                  2.0
10        ashish               Spatula             12345                  1.0
11        ashish       Pressure Cooker              8764                  2.0
12        ashish               Spatula             12345                  1.0
13        ashish       Pressure Cooker              8764                  2.0
14        ashish               Spatula             12345                  1.0
15        ashish       Pressure Cooker              8764                  2.0
16           gov                   NaN               NaN                  NaN

In [85]:
df_flat = df_flat.rename(columns={'products.product_name' : 'product_name', 'products.url_slug' : 'url_slug', 'products.product_id' : 'product_id'})
df_flat

        username     product_name url_slug  product_id
0                         Spatula    12345         1.0
1                 Pressure Cooker     8764         2.0
2                         Spatula    12345         1.0
3                 Pressure Cooker     8764         2.0
4                         Spatula    12345         1.0
5                 Pressure Cooker     8764         2.0
6   Ashish Thapa          Spatula    12345         1.0
7   Ashish Thapa  Pressure Cooker     8764         2.0
8   Ashish Thapa          Spatula    12345         1.0
9   Ashish Thapa  Pressure Cooker     8764         2.0
10        ashish          Spatula    12345         1.0
11        ashish  Pressure Cooker     8764         2.0
12        ashish          Spatula    12345         1.0
13        ashish  Pressure Cooker     8764         2.0
14        ashish          Spatula    12345         1.0
15        ashish  Pressure Cooker     8764         2.0
16           gov              NaN      NaN         NaN