In [65]:
# It is a quick stackoverflow fix to import gensim
import smart_open 
smart_open.open = smart_open.smart_open

In [66]:
import pandas as pd
import numpy as np 
import random 
from tqdm import tqdm
from gensim.models import Word2Vec
import matplotlib.pyplot as plt

In [67]:
import json

with open('customer_dataset.json') as data_file:
    data = json.load(data_file)
data

{'results': [{'username': '',
   'id': 1,
   'products': [{'product_name': 'Spatula',
     'url_slug': '12345',
     'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
  {'username': 'Ashish Thapa',
   'id': 2,
   'products': [{'product_name': 'Spatula',
     'url_slug': '12345',
     'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
  {'username': 'ashish',
   'id': 4,
   'products': [{'product_name': 'Spatula',
     'url_slug': '12345',
     'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
  {'username': 'gov', 'id': 5, 'products': []}]}

In [68]:
purchase_list = []

for i in data.items(): 
    print(i[1][:])
    purchase_list.append(i[1][:])

[{'username': '', 'id': 1, 'products': [{'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}, {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}, {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]}, {'username': 'Ashish Thapa', 'id': 2, 'products': [{'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}, {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]}, {'username': 'ashish', 'id': 4, 'products': [{'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}, {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}, {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1}, {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]}, {'username': 'gov', 'id': 5, 'products': []}]

In [69]:
purchase_list

[[{'username': '',
   'id': 1,
   'products': [{'product_name': 'Spatula',
     'url_slug': '12345',
     'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
  {'username': 'Ashish Thapa',
   'id': 2,
   'products': [{'product_name': 'Spatula',
     'url_slug': '12345',
     'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
  {'username': 'ashish',
   'id': 4,
   'products': [{'product_name': 'Spatula',
     'url_slug': '12345',
     'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
    {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
    {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
  {'username': 'gov', 'id': 5, 'products': []}]]

In [70]:
purchase_list[0]

[{'username': '',
  'id': 1,
  'products': [{'product_name': 'Spatula',
    'url_slug': '12345',
    'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
   {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
   {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
 {'username': 'Ashish Thapa',
  'id': 2,
  'products': [{'product_name': 'Spatula',
    'url_slug': '12345',
    'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
   {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
 {'username': 'ashish',
  'id': 4,
  'products': [{'product_name': 'Spatula',
    'url_slug': '12345',
    'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
   {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
   {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
   {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]},
 {'username': 'gov', 'id': 5, 'products': []}]

In [71]:
purchase_json = json.dumps(purchase_list[0])

In [72]:
purchase_json

'[{"username": "", "id": 1, "products": [{"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}, {"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}, {"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}]}, {"username": "Ashish Thapa", "id": 2, "products": [{"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}, {"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}]}, {"username": "ashish", "id": 4, "products": [{"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}, {"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}, {"product_name": "Spatula", "url_slug": "12345", "product_id": 1}, {"product_name": "Pressure Cooker", "url_slug": "8764", "product_id": 2}]}, {"username": "gov", "id": 5, "products": []}]'

In [73]:
df = pd.read_json(purchase_json)

In [74]:
df

       username  id                                           products
0                 1  [{'product_name': 'Spatula', 'url_slug': '1234...
1  Ashish Thapa   2  [{'product_name': 'Spatula', 'url_slug': '1234...
2        ashish   4  [{'product_name': 'Spatula', 'url_slug': '1234...
3           gov   5                                                 []

In [75]:
df['products'][0]

[{'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
 {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
 {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
 {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2},
 {'product_name': 'Spatula', 'url_slug': '12345', 'product_id': 1},
 {'product_name': 'Pressure Cooker', 'url_slug': '8764', 'product_id': 2}]

In [76]:
df = df.explode('products')
df = df.set_index('id', drop=True)
df

        username                                           products
id
1                 {'product_name': 'Spatula', 'url_slug': '12345...
1                 {'product_name': 'Pressure Cooker', 'url_slug'...
1                 {'product_name': 'Spatula', 'url_slug': '12345...
1                 {'product_name': 'Pressure Cooker', 'url_slug'...
1                 {'product_name': 'Spatula', 'url_slug': '12345...
1                 {'product_name': 'Pressure Cooker', 'url_slug'...
2   Ashish Thapa  {'product_name': 'Spatula', 'url_slug': '12345...
2   Ashish Thapa  {'product_name': 'Pressure Cooker', 'url_slug'...
2   Ashish Thapa  {'product_name': 'Spatula', 'url_slug': '12345...
2   Ashish Thapa  {'product_name': 'Pressure Cooker', 'url_slug'...
4         ashish  {'product_name': 'Spatula', 'url_slug': '12345...
4         ashish  {'product_name': 'Pressure Cooker', 'url_slug'...
4         ashish  {'product_name': 'Spatula', 'url_slug': '12345...
4         ashish  {'product_name': 'Pressure Cooker', 'url_slug'...
4         ashish  {'product_name': 'Spatula', 'url_slug': '12345...
4         ashish  {'product_name': 'Pressure Cooker', 'url_slug'...
5            gov                                                NaN

In [81]:

json_struct = json.loads(df.to_json(orient="records"))    
df_flat = pd.io.json.json_normalize(json_struct)

C:\Users\ASUS\anaconda3\envs\tensor_gpu\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """

In [82]:
df_flat

,username,products.product_name,products.url_slug,products.product_id,products
0,,Spatula,12345,1.0,NaN
1,,Pressure Cooker,8764,2.0,NaN
2,,Spatula,12345,1.0,NaN
3,,Pressure Cooker,8764,2.0,NaN
4,,Spatula,12345,1.0,NaN
5,,Pressure Cooker,8764,2.0,NaN
6,Ashish Thapa,Spatula,12345,1.0,NaN
7,Ashish Thapa,Pressure Cooker,8764,2.0,NaN
8,Ashish Thapa,Spatula,12345,1.0,NaN
9,Ashish Thapa,Pressure Cooker,8764,2.0,NaN
10,ashish,Spatula,12345,1.0,NaN
11,ashish,Pressure Cooker,8764,2.0,NaN
12,ashish,Spatula,12345,1.0,NaN
13,ashish,Pressure Cooker,8764,2.0,NaN
14,ashish,Spatula,12345,1.0,NaN
15,ashish,Pressure Cooker,8764,2.0,NaN
16,gov,NaN,NaN,NaN,NaN

In [84]:
df_flat = df_flat.drop(columns=['products'])
df_flat

        username products.product_name products.url_slug  products.product_id
0                              Spatula             12345                  1.0
1                      Pressure Cooker              8764                  2.0
2                              Spatula             12345                  1.0
3                      Pressure Cooker              8764                  2.0
4                              Spatula             12345                  1.0
5                      Pressure Cooker              8764                  2.0
6   Ashish Thapa               Spatula             12345                  1.0
7   Ashish Thapa       Pressure Cooker              8764                  2.0
8   Ashish Thapa               Spatula             12345                  1.0
9   Ashish Thapa       Pressure Cooker              8764                  2.0
10        ashish               Spatula             12345                  1.0
11        ashish       Pressure Cooker              8764                  2.0
12        ashish               Spatula             12345                  1.0
13        ashish       Pressure Cooker              8764                  2.0
14        ashish               Spatula             12345                  1.0
15        ashish       Pressure Cooker              8764                  2.0
16           gov                   NaN               NaN                  NaN

In [85]:
df_flat = df_flat.rename(columns={'products.product_name' : 'product_name', 'products.url_slug' : 'url_slug', 'products.product_id' : 'product_id'})
df_flat

        username     product_name url_slug  product_id
0                         Spatula    12345         1.0
1                 Pressure Cooker     8764         2.0
2                         Spatula    12345         1.0
3                 Pressure Cooker     8764         2.0
4                         Spatula    12345         1.0
5                 Pressure Cooker     8764         2.0
6   Ashish Thapa          Spatula    12345         1.0
7   Ashish Thapa  Pressure Cooker     8764         2.0
8   Ashish Thapa          Spatula    12345         1.0
9   Ashish Thapa  Pressure Cooker     8764         2.0
10        ashish          Spatula    12345         1.0
11        ashish  Pressure Cooker     8764         2.0
12        ashish          Spatula    12345         1.0
13        ashish  Pressure Cooker     8764         2.0
14        ashish          Spatula    12345         1.0
15        ashish  Pressure Cooker     8764         2.0
16           gov              NaN      NaN         NaN

In [87]:
df_flat = df_flat[df_flat['product_id'].notna()]
df_flat

        username     product_name url_slug  product_id
0                         Spatula    12345         1.0
1                 Pressure Cooker     8764         2.0
2                         Spatula    12345         1.0
3                 Pressure Cooker     8764         2.0
4                         Spatula    12345         1.0
5                 Pressure Cooker     8764         2.0
6   Ashish Thapa          Spatula    12345         1.0
7   Ashish Thapa  Pressure Cooker     8764         2.0
8   Ashish Thapa          Spatula    12345         1.0
9   Ashish Thapa  Pressure Cooker     8764         2.0
10        ashish          Spatula    12345         1.0
11        ashish  Pressure Cooker     8764         2.0
12        ashish          Spatula    12345         1.0
13        ashish  Pressure Cooker     8764         2.0
14        ashish          Spatula    12345         1.0
15        ashish  Pressure Cooker     8764         2.0

In [96]:
df_flat['product_name'] = df_flat['product_name'].astype(str)
df_flat['username'] = df_flat['username'].astype(str)

In [97]:
customers = df_flat['username'].unique().tolist()
customers

['', 'Ashish Thapa', 'ashish']

In [98]:
random.shuffle(customers)
c_train = [customers[i] for i in range(round(0.9*len(customers)))]
c_train

['Ashish Thapa', 'ashish', '']

In [99]:
train_df = df_flat[df_flat['username'].isin(c_train)]
validation_df = df[~df_flat['username'].isin(c_train)]

C:\Users\ASUS\anaconda3\envs\tensor_gpu\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [100]:
train_df[train_df["username"] == 'Ashish Thapa']["product_name"].tolist()

['Spatula', 'Pressure Cooker', 'Spatula', 'Pressure Cooker']

In [101]:
# list to capture purchase history of the customers
p_train = []

# populate the list with the product codes
for i in tqdm(c_train):
    temp = train_df[train_df["username"] == i]["product_name"].tolist()
    p_train.append(temp)

100%|██████████| 3/3 [00:00<00:00, 499.86it/s]

In [102]:
p_train

[['Spatula', 'Pressure Cooker', 'Spatula', 'Pressure Cooker'],
 ['Spatula',
  'Pressure Cooker',
  'Spatula',
  'Pressure Cooker',
  'Spatula',
  'Pressure Cooker'],
 ['Spatula',
  'Pressure Cooker',
  'Spatula',
  'Pressure Cooker',
  'Spatula',
  'Pressure Cooker']]

In [103]:
# list to capture purchase history of the customers
p_val = []

# populate the list with the product codes
for i in tqdm(validation_df['username'].unique()):
    temp = validation_df[validation_df["username"] == i]["product_name"].tolist()
    p_val.append(temp)

0it [00:00, ?it/s]

In [104]:
p_val

[]

In [105]:
model = Word2Vec(window = 3, min_count=1)

In [106]:
model.build_vocab(p_train, progress_per=200)

In [107]:
model.corpus_count

3

In [108]:
model.train(p_train, total_examples = model.corpus_count, 
            epochs=10)

(10, 160)

In [109]:
model.save("./dummy_model.model")

In [110]:
print(model)

Word2Vec(vocab=2, size=100, alpha=0.025)

In [111]:
model.init_sims(replace=True) # This makes model more memory efficient

In [112]:
model.save("./dummy_model_lite.model")

In [113]:
# extract all vectors
X = model[model.wv.vocab]

X.shape

C:\Users\ASUS\anaconda3\envs\tensor_gpu\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

(2, 100)

In [114]:
X

array([[ 2.39419229e-02,  9.86087993e-02,  1.42990306e-01,
         1.10313162e-01,  1.53448237e-02,  1.38552919e-01,
         5.07409945e-02,  1.52343735e-01,  1.41851723e-01,
        -1.05352402e-01, -3.06295492e-02, -1.11891553e-01,
        -9.87740681e-02,  5.66893555e-02,  2.01540757e-02,
        -9.39587653e-02,  4.70193028e-02, -1.53357029e-01,
        -1.36052147e-01, -1.25279456e-01,  1.30566582e-01,
         3.82703776e-03, -7.70861506e-02, -9.64472443e-02,
         8.45440179e-02, -1.76940612e-05,  1.21647529e-01,
        -8.56238306e-02,  3.41568664e-02,  5.95993735e-02,
         1.41658500e-01, -1.43062368e-01, -5.93961105e-02,
         3.36717740e-02,  1.16685510e-01,  1.12008534e-01,
         7.72208869e-02, -5.61011434e-02, -3.55591327e-02,
         5.20241931e-02, -4.15824093e-02,  1.61858499e-01,
         1.64444700e-01,  7.10698403e-03, -1.59871534e-01,
         4.17597033e-02, -7.98150711e-03,  7.61991292e-02,
        -1.65280133e-01,  1.35366499e-01,  1.15129881e-01,
        -2.04937868e-02, -1.57953888e-01,  4.31568660e-02,
        -1.34301230e-01, -6.24859892e-02,  1.06120579e-01,
         9.98337045e-02,  1.66205481e-01,  1.22906044e-01,
         1.01760715e-01,  1.27016917e-01, -1.46629959e-01,
        -3.72149050e-02,  4.98025306e-02, -6.36090785e-02,
         6.29732907e-02, -5.72716035e-02, -2.18223203e-02,
        -1.11685917e-01, -1.61766350e-01,  6.18774146e-02,
         9.10178479e-03,  1.26731336e-01,  2.03540381e-02,
         1.23920493e-01,  1.52870029e-01, -2.74858009e-02,
         3.41415629e-02, -1.10354617e-01,  4.86515276e-02,
         5.29969819e-02, -1.45644918e-01,  7.76559934e-02,
        -1.29238233e-01,  1.41614050e-01,  8.01280886e-02,
         1.66140631e-01,  1.34191766e-01,  1.13484636e-01,
         6.08878545e-02, -1.79357622e-02,  5.14192646e-03,
        -7.48690441e-02, -2.74433978e-02,  2.41065323e-02,
        -9.75353271e-03,  1.50261015e-01, -1.25281453e-01,
        -1.23157509e-01],
       [-1.65412366e-01, -1.46949276e-01,  1.16685055e-01,
         1.09907255e-01, -1.13648623e-01,  3.76292388e-03,
         7.67343789e-02,  1.17162496e-01, -1.32510602e-01,
         7.43797645e-02, -1.48925732e-03,  7.36431107e-02,
         1.32093579e-01, -5.28593622e-02,  3.86849716e-02,
        -1.97192267e-01, -1.69701815e-01,  1.27417013e-01,
        -1.54094025e-01,  1.24845318e-02,  2.87705120e-02,
        -1.92200959e-01, -1.34742521e-02, -1.15475751e-01,
        -1.70635089e-01,  1.18021376e-01,  1.83680281e-01,
         1.12293258e-01, -1.68270111e-01, -2.20949315e-02,
         1.52840450e-01,  5.46610430e-02, -6.03045821e-02,
         4.45602499e-02,  8.05422962e-02, -7.07688332e-02,
         9.42522958e-02,  1.62533566e-01,  1.45831794e-01,
        -8.08959827e-02,  3.57468426e-02,  4.02801000e-02,
        -9.65273604e-02, -1.62030488e-01,  2.25478467e-02,
         7.60756619e-03, -1.43036485e-01, -9.12375003e-03,
        -1.89656913e-02,  5.74130751e-02,  4.83308397e-02,
         1.16087601e-01, -3.24234553e-03, -2.03791298e-02,
         4.08903249e-02,  7.62316138e-02, -7.75139555e-02,
        -4.33678329e-02, -3.13401446e-02,  4.73440774e-02,
        -1.29396677e-01, -1.66572127e-02,  4.22286093e-02,
         8.68223906e-02,  1.25955686e-01,  3.77625488e-02,
         1.06373601e-01, -1.14316419e-01,  7.15648457e-02,
        -8.46484900e-02,  5.38370535e-02,  9.62859914e-02,
         1.86914485e-02,  1.31544098e-01, -1.94452628e-01,
        -1.89448103e-01, -1.85703233e-01, -1.11034170e-01,
         1.27915874e-01,  8.74091499e-03, -8.76736082e-03,
        -1.39467239e-01,  4.61098775e-02, -1.67694256e-01,
        -1.88624319e-02,  1.79478545e-02,  4.24394906e-02,
        -8.44094232e-02, -2.77022757e-02, -7.79607370e-02,
        -5.27804084e-02, -3.45420763e-02, -7.82305300e-02,
        -5.18803149e-02,  4.84665893e-02,  6.34371415e-02,
        -1.21733055e-01,  5.77546433e-02, -4.98938933e-02,
        -8.65124613e-02]], dtype=float32)

In [115]:
products = train_df[["product_name", "product_id"]]
products

       product_name  product_id
0           Spatula         1.0
1   Pressure Cooker         2.0
2           Spatula         1.0
3   Pressure Cooker         2.0
4           Spatula         1.0
5   Pressure Cooker         2.0
6           Spatula         1.0
7   Pressure Cooker         2.0
8           Spatula         1.0
9   Pressure Cooker         2.0
10          Spatula         1.0
11  Pressure Cooker         2.0
12          Spatula         1.0
13  Pressure Cooker         2.0
14          Spatula         1.0
15  Pressure Cooker         2.0

In [116]:
# remove duplicates
products.drop_duplicates(inplace=True)
products.head(50)

C:\Users\ASUS\anaconda3\envs\tensor_gpu\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

      product_name  product_id
0          Spatula         1.0
1  Pressure Cooker         2.0

In [126]:
products_dict = products.groupby('product_name')['product_name'].apply(list).to_dict()

In [127]:
def similar_products(v, n = 10):
    
    # extract most similar products for the input vector
    ms = model.similar_by_vector(v, topn= n+1)[1:]
    
    # extract name and similarity score of the similar products
    new_ms = []
    for j in ms:
        pair = (products_dict[j[0]][0], j[1])
        new_ms.append(pair)
        
    return new_ms

In [128]:
similar_products(model['Spatula'])

C:\Users\ASUS\anaconda3\envs\tensor_gpu\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  """Entry point for launching an IPython kernel.
C:\Users\ASUS\anaconda3\envs\tensor_gpu\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: Call to deprecated `similar_by_vector` (Method will be removed in 4.0.0, use self.wv.similar_by_vector() instead).
  after removing the cwd from sys.path.

[('Pressure Cooker', -0.06941111385822296)]

In [129]:
def aggregate_vectors(products):
    product_vec = []
    for i in products:
        try:
            product_vec.append(model[i])
        except KeyError:
            continue
        
    return np.mean(product_vec, axis=0)

In [131]:
p_val

[]

C:\Users\ASUS\anaconda3\envs\tensor_gpu\lib\site-packages\numpy\core\fromnumeric.py:3420: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\Users\ASUS\anaconda3\envs\tensor_gpu\lib\site-packages\numpy\core\_methods.py:188: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

()